.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
}

.containerRight {
  
  background: #E2D4BA;
  width: 50%;
  height: 70vh;
  padding: 10px 5px;
  margin-bottom: 15px;
  margin: 0 auto;
  resize: vertical;
	overflow: auto;
}

.containerLeft {
  background: white;
  width: 50%;
  height: 70vh;
}

.markdown {
	padding: 10px 5px;
	resize: vertical;
	overflow: auto;
	width: 100%;
	height: 70vh;
	margin: 0 auto;
	display: block;
	margin-bottom: 15px;
}



